
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-1y4 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item-1696700287799-1-ALA {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-1-h5C {
    top: 4.4rem;
    background-color: #472212;
    border-radius: 2rem;
    width: 131.1rem;
    height: 93.6rem;
    position: absolute;
    left: 6.4rem;
  }
  .frame-14-pvW {
    line-height: 1.235;
    font-family: Copse, 'Source Sans Pro';
    justify-content: center;
    background-color: #85674b;
    position: absolute;
    font-size: 3rem;
    white-space: nowrap;
    display: flex;
    top: 6.4rem;
    font-weight: 400;
    cursor: pointer;
    left: 120.7rem;
    color: #ffffff;
    align-items: center;
    border-radius: 1rem;
    width: 15.6rem;
    height: 4.3rem;
  }
  .jugos-naturales-de-temporada-2800-frutilla-arndanos-pia-limonada-kiwi-naranja-platano-se-pueden-combinar-limonada-con-menta-2300-t-1200-mate-1500-caf-variedades-2000-cappuccino-moccacino-caf-con-leche-americano-leche-de-cumpleaos-2000-WHY {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    width: 37.5rem;
    height: 32.2rem;
    position: absolute;
    font-family: Copse, 'Source Sans Pro';
    left: 61.2rem;
    top: 38.9rem;
    line-height: 1.235;
  }
  .frame-12-6mY {
    box-sizing: border-box;
    width: 15rem;
    height: 4.9rem;
    font-weight: 400;
    font-family: Sunshiney, 'Source Sans Pro';
    left: 64.5rem;
    color: #ffffff;
    border-radius: 1rem;
    top: 29.3rem;
    font-size: 3rem;
    line-height: 1.3225;
    white-space: nowrap;
    padding: 0rem 1.5rem 0rem 1.7rem;
    position: absolute;
    background-color: #85674b;
  }
  .pizza-familiar-12000-pedazo-de-pizza-2000-ingredientes-a-eleccin-tomate-queso-chorizo-aceitunas-organo-jamn-cebolla-morada-choclo-m6z {
    line-height: 1.235;
    font-family: Copse, 'Source Sans Pro';
    width: 32.2rem;
    height: 17.3rem;
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    left: 16.2rem;
    top: 69.4rem;
    color: #ffffff;
  }
  .frame-11-Cxz {
    padding: 0rem 4.9rem 0rem 3.4rem;
    top: 61rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: Sunshiney, 'Source Sans Pro';
    background-color: #85674b;
    border-radius: 1rem;
    box-sizing: border-box;
    height: 4.9rem;
    line-height: 1.3225;
    color: #ffffff;
    white-space: nowrap;
    width: 15rem;
    position: absolute;
    left: 19.2rem;
  }
  .pino-1700-jamn-queso-1700-napolitana-1700-mariscos-2100-Te2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: Copse, 'Source Sans Pro';
    position: absolute;
    left: 16.2rem;
    top: 38.9rem;
    color: #ffffff;
    width: 22.6rem;
    height: 9.9rem;
    line-height: 1.235;
  }
  .frame-10-WcJ {
    box-sizing: border-box;
    height: 4.9rem;
    white-space: nowrap;
    background-color: #85674b;
    color: #ffffff;
    font-family: Sunshiney, 'Source Sans Pro';
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3225;
    padding: 0rem 1.8rem 0rem 1.7rem;
    width: 15rem;
    left: 19.2rem;
    top: 29.3rem;
    border-radius: 1rem;
  }
  .salados-nZp {
    color: #f5ace5;
    white-space: nowrap;
    height: 6.7rem;
    position: absolute;
    left: 37.3rem;
    top: 16.6rem;
    font-size: 5rem;
    line-height: 1.3225;
    width: 12.6rem;
    font-weight: 400;
    font-family: Sunshiney, 'Source Sans Pro';
  }
  .pana-3-Vz2 {
    position: absolute;
    left: 61.2rem;
    top: 0.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.5rem;
    height: 11.9rem;
    cursor: pointer;
  }
  .line-3-2yx {
    height: 0.3rem;
    position: absolute;
    left: 0;
    top: 12.3rem;
    background-color: #f5ace5;
    width: 144rem;
  }
  .item-1696728337658-1-mwY {
    position: absolute;
    left: 121.5rem;
    top: 16.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 11.4rem;
    height: 77.4rem;
  }
}
