
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-NRg {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item-1696700287799-1-VmC {
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
  }
  .rectangle-1-ETt {
    width: 131.1rem;
    height: 93.6rem;
    position: absolute;
    left: 6.4rem;
    top: 4.4rem;
    background-color: #472212;
    border-radius: 2rem;
  }
  .rectangle-2-xug {
    top: 4.4rem;
    background-color: #472212;
    border-radius: 2rem;
    width: 131.1rem;
    height: 93.6rem;
    position: absolute;
    left: 6.4rem;
  }
  .frame-14-hMU {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 120.7rem;
    font-weight: 400;
    font-family: Copse, 'Source Sans Pro';
    background-color: #85674b;
    border-radius: 1rem;
    position: absolute;
    font-size: 3rem;
    white-space: nowrap;
    top: 6.4rem;
    line-height: 1.235;
    color: #ffffff;
    width: 15.6rem;
    height: 4.3rem;
    cursor: pointer;
  }
  .item-1696728337650-2-Akr {
    height: 78rem;
    position: absolute;
    left: 120.7rem;
    top: 16rem;
    object-fit: cover;
    vertical-align: top;
    width: 11.9rem;
  }
  .torta-chocolate-4500-torta-merengue-limn-4500-torta-crema-y-frutas-4500-torta-panqueque-naranja-manjar-4500-torta-panqueque-ciruela-manjar-4200-fBp {
    width: 39.9rem;
    top: 70.2rem;
    line-height: 1.235;
    color: #ffffff;
    font-family: Copse, 'Source Sans Pro';
    height: 17.3rem;
    position: absolute;
    left: 61.5rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .cheesecake-de-limn-3500-cheesecake-de-frutilla-3800-cheesecake-de-arndanos-3800-cheesecake-de-maracuy-4000-Hiz {
    width: 34.7rem;
    top: 38.9rem;
    line-height: 1.235;
    color: #ffffff;
    font-family: Copse, 'Source Sans Pro';
    height: 9.9rem;
    position: absolute;
    left: 61.1rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .frame-13-9FQ {
    top: 61rem;
    white-space: nowrap;
    width: 15rem;
    height: 4.9rem;
    position: absolute;
    border-radius: 1rem;
    background-color: #85674b;
    box-sizing: border-box;
    padding: 0rem 4.8rem 0rem 4.1rem;
    font-size: 3rem;
    line-height: 1.3225;
    left: 64.5rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Sunshiney, 'Source Sans Pro';
  }
  .frame-12-24J {
    line-height: 1.3225;
    white-space: nowrap;
    border-radius: 1rem;
    height: 4.9rem;
    left: 64.5rem;
    font-weight: 400;
    font-family: Sunshiney, 'Source Sans Pro';
    background-color: #85674b;
    padding: 0rem 1.5rem 0rem 0.8rem;
    width: 15rem;
    position: absolute;
    color: #ffffff;
    box-sizing: border-box;
    top: 29.3rem;
    font-size: 3rem;
  }
  .tarta-de-manzana-2500-tarta-de-nuez-3000-tarta-de-arndanos-3000-pie-de-limn-2800-pie-2500-64A {
    width: 28.9rem;
    height: 12.4rem;
    left: 16.1rem;
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    top: 70.6rem;
    font-weight: 400;
    line-height: 1.235;
    font-family: Copse, 'Source Sans Pro';
  }
  .frame-11-hZk {
    box-sizing: border-box;
    position: absolute;
    top: 61rem;
    font-weight: 400;
    padding: 0rem 5.4rem 0rem 3.4rem;
    left: 19.2rem;
    border-radius: 1rem;
    width: 15rem;
    height: 4.9rem;
    font-family: Sunshiney, 'Source Sans Pro';
    background-color: #85674b;
    font-size: 3rem;
    line-height: 1.3225;
    color: #ffffff;
    white-space: nowrap;
  }
  .pasteles-de-maicena-1500-brazo-de-reina-1500-rollitos-de-canela-1000-rollitos-de-canela-y-manzana-1200-rollitos-de-canela-y-frutilla-1500-galletones-de-cacao-amargo-1000-Ay8 {
    width: 36.9rem;
    position: absolute;
    font-size: 2rem;
    color: #ffffff;
    font-family: Copse, 'Source Sans Pro';
    height: 14.9rem;
    left: 16.1rem;
    top: 38.9rem;
    font-weight: 400;
    line-height: 1.235;
  }
  .frame-10-bYe {
    background-color: #85674b;
    border-radius: 1rem;
    width: 15rem;
    left: 19.2rem;
    line-height: 1.3225;
    font-family: Sunshiney, 'Source Sans Pro';
    padding: 0rem 3.1rem 0rem 1.7rem;
    height: 4.9rem;
    font-weight: 400;
    color: #ffffff;
    top: 29.3rem;
    font-size: 3rem;
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
  }
  .dulces-ga6 {
    height: 6.7rem;
    position: absolute;
    left: 37.3rem;
    font-weight: 400;
    white-space: nowrap;
    width: 11.6rem;
    top: 16.6rem;
    font-size: 5rem;
    line-height: 1.3225;
    color: #f5ace5;
    font-family: Sunshiney, 'Source Sans Pro';
  }
  .pana-3-CoL {
    height: 11.9rem;
    cursor: pointer;
    position: absolute;
    left: 61.2rem;
    top: 0.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.5rem;
  }
  .line-3-VnS {
    background-color: #f5ace5;
    width: 144rem;
    height: 0.3rem;
    position: absolute;
    left: 0;
    top: 12.3rem;
  }
}
