
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-gyY {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item-1696700287799-1-EkA {
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rectangle-1-NLa {
    background-color: #472212;
    border-radius: 2rem;
    width: 131.1rem;
    height: 93.6rem;
    position: absolute;
    left: 6.4rem;
    top: 4.4rem;
  }
  .nmero-de-contacto-56968975176-correo-crocharellagmailcom-instagram-crocharella-estamos-ubicados-en-manuel-rodriguez-1265-peablanca-comuna-villa-alemana-regin-de-valparaiso-6nN {
    width: 61.8rem;
    height: 40.8rem;
    position: absolute;
    text-align: center;
    line-height: 1.235;
    left: 42.25rem;
    top: 48.2rem;
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Copse, 'Source Sans Pro';
  }
  .pastelera-crocharella-busca-vender-sus-productos-en-dos-modalidades-presencial-online-uzi {
    color: #ffffff;
    height: 14.9rem;
    left: 48.3rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.235;
    width: 49.3rem;
    position: absolute;
    top: 27.6rem;
    font-family: Copse, 'Source Sans Pro';
  }
  .contacto-LaE {
    width: 17.2rem;
    left: 63rem;
    line-height: 1.3225;
    font-family: Sunshiney, 'Source Sans Pro';
    white-space: nowrap;
    height: 8rem;
    position: absolute;
    top: 16.4rem;
    font-size: 6rem;
    font-weight: 400;
    color: #ffffff;
  }
  .pana-3-FBQ {
    width: 21.5rem;
    height: 11.9rem;
    cursor: pointer;
    position: absolute;
    left: 61.2rem;
    top: 0.4rem;
    object-fit: cover;
    vertical-align: top;
  }
  .line-3-Bar {
    width: 144rem;
    height: 0.3rem;
    position: absolute;
    left: 0;
    top: 12.3rem;
    background-color: #f5ace5;
  }
}
