
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-uwp {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .item-1696700287799-1-TiS {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .rectangle-1-zTU {
    left: 6.4rem;
    top: 4.4rem;
    background-color: #472212;
    border-radius: 2rem;
    width: 131.1rem;
    height: 93.6rem;
    position: absolute;
  }
  .frame-14-Wwc {
    font-size: 3rem;
    line-height: 1.235;
    color: #ffffff;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    left: 119.9rem;
    white-space: nowrap;
    display: flex;
    width: 15.6rem;
    height: 4.3rem;
    position: absolute;
    top: 6.4rem;
    font-weight: 400;
    align-items: center;
    font-family: Copse, 'Source Sans Pro';
    background-color: #85674b;
  }
  .si-eres-nuevo-en-el-mundo-de-crochet-y-deseas-aprender-al-momento-de-consumir-alimentos-o-comprar-productos-desde-los-6000-en-nuestra-pastelera-te-daremos-un-curso-bsico-de-crochet-y-tendrs-a-disposicin-la-ayuda-de-los-encargados-en-el-caso-de-que-tengas-complicaciones-al-momento-de-aprender-tambin-contamos-con-nuestros-productos-a-crochet-como-ropas-e-insumos-que-estn-disponibles-tanto-en-la-tienda-virtual-como-presencial-al-igual-que-los-alimentos-se-entregan-por-delivery-o-retiro-en-tienda-al-momento-de-comprar-Q1Q {
    width: 94.5rem;
    position: absolute;
    left: 27.1rem;
    font-weight: 400;
    line-height: 1.235;
    color: #ffffff;
    height: 37.1rem;
    top: 36.4rem;
    font-size: 3rem;
    font-family: Copse, 'Source Sans Pro';
  }
  .clases-de-crochet-h8v {
    height: 8rem;
    position: absolute;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.3225;
    color: #f5ace5;
    white-space: nowrap;
    width: 36.8rem;
    left: 53.6rem;
    top: 17.2rem;
    font-family: Sunshiney, 'Source Sans Pro';
  }
  .pana-3-bk6 {
    vertical-align: top;
    width: 21.5rem;
    height: 11.9rem;
    cursor: pointer;
    position: absolute;
    left: 61.2rem;
    top: 0.4rem;
    object-fit: cover;
  }
  .line-3-Xte {
    width: 144rem;
    height: 0.3rem;
    position: absolute;
    left: 0;
    top: 12.3rem;
    background-color: #f5ace5;
  }
}
