
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-1Bx {
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-color: #ffffff;
  height: 102.4rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:01963e9397c2545e75ba2b2bd26204d159ab8130');
  width: 100%;

  .rectangle-1-8nN {
    height: 93.6rem;
    position: absolute;
    left: 6.4rem;
    top: 4.4rem;
    background-color: #472212;
    border-radius: 2rem;
    width: 131.1rem;
  }
  .item-1696718066150-1-4g2 {
    position: absolute;
    left: 88.8rem;
    top: 62.1rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 36.4rem;
    height: 21.5rem;
  }
  .item-1696700287813-1-ynz {
    height: 21.5rem;
    position: absolute;
    left: 89.1rem;
    top: 29.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 36.1rem;
  }
  .line-3-WH8 {
    left: 0;
    top: 12.3rem;
    background-color: #f5ace5;
    width: 108.9rem;
    height: 0.3rem;
    position: absolute;
  }
  .si-2-Sga {
    object-fit: cover;
    vertical-align: top;
    width: 67.8rem;
    height: 34.8rem;
    position: absolute;
    left: 6.4rem;
    top: 9.8rem;
  }
  .frame-1-B8N {
    left: 84.8rem;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 49.5rem;
    height: 16.7rem;
    cursor: pointer;
    position: absolute;
    background-color: #85674b;
    border-radius: 1rem;
    box-sizing: border-box;
    padding-bottom: 1.6rem;

    .auto-group-jnxi-GQi {
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 0rem 12.4rem 1.6rem 30.5rem;
      width: calc(100% - 42.9rem);
      height: 8.5rem;
      border-right: solid 0.3rem #f5ace5;
    }
    .auto-group-9ys6-LvN {
      box-sizing: border-box;
      font-weight: 400;
      line-height: 1.235;
      color: #ffffff;
      flex-shrink: 0;
      margin-right: 1rem;
      padding-left: 24.9rem;
      font-size: 4rem;
      font-family: Copse, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .si-eres-nuevo-en-el-mundo-del-crochet-y-deseas-aprender-o-simplemente-buscas-un-lugar-especial-para-probar-nuevas-recetas-te-invitamos-a-nuestro-saln-con-temtica-crochet-natural-el-cual-te-motiva-e-incita-envolvindote-en-un-ambiente-ideal-para-tejer-a-crochet-mientras-disfrutas-de-las-deliciosas-recetas-que-ofrece-la-pastelera-te-esperamos-q6S {
    position: absolute;
    font-size: 2.5rem;
    width: 51rem;
    height: 58.7rem;
    left: 15.3rem;
    top: 48.7rem;
    font-weight: 400;
    line-height: 1.235;
    color: #ffffff;
    font-family: Copse, 'Source Sans Pro';
  }
  .frame-3-nft {
    color: #f5ace5;
    justify-content: center;
    background-color: #85674b;
    border-radius: 1rem;
    font-weight: 400;
    height: 4rem;
    font-size: 3rem;
    display: flex;
    width: 14.7rem;
    white-space: nowrap;
    align-items: center;
    border: solid 0.1rem #f5ace5;
    box-sizing: border-box;
    line-height: 1.3225;
    left: 99.8rem;
    top: 38.5rem;
    font-family: Sunshiney, 'Source Sans Pro';
    position: absolute;
  }
  .frame-4-qeA {
    left: 103.8rem;
    width: 6.7rem;
    height: 4rem;
    line-height: 1.3225;
    color: #f5ace5;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    font-size: 3rem;
    background-color: #85674b;
    border-radius: 1rem;
    top: 70.9rem;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    border: solid 0.1rem #f5ace5;
    font-weight: 400;
    font-family: Sunshiney, 'Source Sans Pro';
  }
}
