
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-7-73g {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .item-1696700287799-1-eZQ {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
  }
  .rectangle-1-BZL {
    top: 4.4rem;
    background-color: #472212;
    border-radius: 2rem;
    width: 131.1rem;
    height: 93.6rem;
    position: absolute;
    left: 7.1rem;
  }
  .frame-14-Jtr {
    cursor: pointer;
    font-family: Copse, 'Source Sans Pro';
    border-radius: 1rem;
    justify-content: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 1.235;
    background-color: #85674b;
    height: 4.3rem;
    top: 6.4rem;
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    width: 15.6rem;
    position: absolute;
    left: 120.7rem;
  }
  .frame-19-mnS {
    border-radius: 1rem;
    width: 51.3rem;
    height: 19.6rem;
    position: absolute;
    left: 14.7rem;
    top: 68.8rem;
    background-color: #85674b;

    .amigurumis-de-animalitos-plantas-personajes-los-puedes-encontrar-de-diferentes-tamaos-en-cualquier-lugar-del-saln-haciendote-compaa-si-deseas-llevarte-uno-todos-estarn-disponibles-en-nuestra-tienda-incluso-si-deseas-un-amigurumi-personalizado-puedes-pedir-el-tuyo-K3G {
      line-height: 1.235;
      width: 46.3rem;
      height: 14.9rem;
      position: absolute;
      top: 1.9rem;
      font-size: 2rem;
      font-weight: 400;
      left: 4rem;
      color: #ffffff;
      font-family: Copse, 'Source Sans Pro';
    }
    .frame-21-Fr2 {
      display: flex;
      width: 8.1rem;
      position: absolute;
      left: 38.4rem;
      color: #ffffff;
      font-family: Copse, 'Source Sans Pro';
      white-space: nowrap;
      top: 14.8rem;
      font-size: 2rem;
      font-weight: 400;
      background-color: #f5ace5;
      border-radius: 1rem;
      height: 3.2rem;
      line-height: 1.235;
      align-items: center;
      justify-content: center;
    }
  }
  .frame-18-Lca {
    padding: 1.1rem 0.9rem 1.2rem 0.9rem;
    height: 9.8rem;
    position: absolute;
    background-color: #85674b;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 51.3rem;
    left: 76.6rem;
    top: 32.1rem;

    .suculentas-flores-enredaderas-plantas-medicinales-puedes-encontrar-de-todo-tipo-en-nuestro-saln-Sfc {
      color: #ffffff;
      font-family: Copse, 'Source Sans Pro';
      max-width: 49.5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.235;
    }
  }
  .mhu-its-time-to-get-back-to-my-daily-amigurumi-1-KjQ {
    object-fit: cover;
    vertical-align: top;
    border-radius: 1rem;
    width: 55.9rem;
    height: 35rem;
    position: absolute;
    left: 72rem;
    top: 56.7rem;
  }
  .whatsapp-image-2023-10-08-at-1238-4-Qkr {
    object-fit: cover;
    vertical-align: top;
    border-radius: 1rem 0 0 1rem;
    width: 12.3rem;
    height: 35rem;
    position: absolute;
    left: 16.5rem;
    top: 17.7rem;
  }
  .whatsapp-image-2023-10-08-at-1238-3-iWe {
    left: 28.8rem;
    top: 17.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 13.3rem;
    height: 35rem;
    position: absolute;
  }
  .whatsapp-image-2023-10-08-at-1238-2-qrA {
    position: absolute;
    left: 42.1rem;
    top: 17.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 13.9rem;
    height: 35rem;
  }
  .whatsapp-image-2023-10-08-at-1238-1-YVg {
    border-radius: 0 1rem 1rem 0;
    width: 13.9rem;
    height: 35rem;
    position: absolute;
    left: 56rem;
    top: 17.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pana-3-TsY {
    vertical-align: top;
    width: 21.5rem;
    height: 11.9rem;
    cursor: pointer;
    position: absolute;
    left: 61.2rem;
    top: 0.4rem;
    object-fit: cover;
  }
  .line-3-oAi {
    left: 0;
    top: 12.3rem;
    background-color: #f5ace5;
    width: 144rem;
    height: 0.3rem;
    position: absolute;
  }
  .frame-16-LgS {
    left: 58.5rem;
    justify-content: center;
    background-color: #85674b;
    height: 4rem;
    top: 20.2rem;
    color: #f5ace5;
    border-radius: 1rem;
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-family: Sunshiney, 'Source Sans Pro';
    width: 30.8rem;
    position: absolute;
    font-size: 3rem;
    line-height: 1.3225;
  }
  .frame-17-Emp {
    align-items: center;
    background-color: #85674b;
    width: 30.8rem;
    height: 4rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: Sunshiney, 'Source Sans Pro';
    position: absolute;
    top: 59.4rem;
    white-space: nowrap;
    justify-content: center;
    border-radius: 1rem;
    line-height: 1.3225;
    left: 50.6rem;
    color: #f5ace5;
    display: flex;
  }
}
